$white: #fafafa;
$black: #0b0111;
$blue: #090979;
$pink: #ff006f;
$gold: #ffd700;
$grey: #e6dfdf;
$truewhite: #ffffff;

html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body.light-mode {
  background-color: $white;
  transition: background-color 0.3s ease;
  color: $black;

  a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;

    :hover {
      color: $pink;
    }
  }

  .logo {
      fill: $black;
      height: 3.75rem;
      width: 3.75rem;
  }

  .name {
      color: $black;
  }
  
  .footer {
    background-image: linear-gradient(to left, $pink, $blue, $black);

    .footer-text {  
      color: $pink;
      padding: 1rem;
    }
    
    .footer-link {
      color: $white;
      text-decoration: none;
    }
  }    
} 

body.dark-mode {
  background-color: $black;
  color: $white;

  h1, h2, h4 {
    color: $white;
  }
  
  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;

    :hover {
      color: $pink;
    }
  }
  
  .dark-link {
    color: $white;
    text-shadow: none;
  }

  .project-link {
    color: $white;
    text-shadow: none;
  }
  
  .dark-header {
    color: $white;
  }

  .logo {
    fill: $white;
    height: 3.75rem;
    width: 3.75rem;
  }
  
  .blog-link {
    color: $white;
    text-shadow: none;
  }

  .footer {
    background-image: linear-gradient(to right, $pink, $blue, $black);
    position: relative;

    .footer-text {
        color: $white;
        padding: 1rem;
    }
  }
}

h1 {
  margin-top: 0.5rem;
}

h2 {
  margin-top: 0.25rem;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;  
}

.image {
  max-height: 43rem;
}

.post-image {
  display: flex;
  justify-content: center;
}

.astro-image {
  margin-top: 25rem;
}

button {
  color: $black;
  background-color: $truewhite;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 5px 2.5px 2.5px $grey;
}

.sun-grid {
  margin-top: 0.5rem;
}

.moon-grid {
  margin-top: 0.5rem;
}

.sticky-wrapper {
  position: relative;
  z-index: 2;
}

.sticky .sticky-inner {
  position: fixed;
  right: 0.5rem;
}

.mode-icon {
  fill: $gold;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.caption {
  font-size: 14px;
}

.social-icons {
  fill: $white;
  height: 2.0rem;
  width: 2.0rem;
  cursor: pointer;
  margin-bottom: 1rem;
  @media screen and (min-width: 860px) {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
}

.menu-icons {
  fill: $pink;
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
  margin-right: 1.14rem;
  cursor: pointer;
  margin-bottom: 2.2rem;
}

.post-title:hover, .sub-title:hover {
  color: $pink;
}

.code-block {
  position: relative;
  z-index: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.form-input {
  width: 18rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.portfolio-icon {
    fill: $pink;
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}  

button.repo-link {
  width: 14rem;

  p {
    color: $black;
  }
  
  a {
    text-decoration: none;
  }
}

.form-button {  
  margin-top: 1rem;
  width: 6rem;
   
  h4 {
    margin: 1rem;
    display: flex;
    justify-content: center;  
  }

  h4.send-link {
    color: $black;
  }
}

.footer-link {
  text-shadow: none;
}