/* small mobile */

@media screen and (min-width: 280px) and (max-width: 410px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 16;
    grid-row: 1;
  }
  
  .name-grid {
    grid-column: col-start 6 / span 6;
    grid-row: 1;
  }

  .sun-grid {
    grid-column: col-start 11 / span 1;
    grid-row: 1;
  }

  .moon-grid {
    grid-column: col-start 12 / span 1;
    grid-row: 1;
  }

  .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  }
}

/* medium mobile */

@media screen and (min-width: 411px) and (max-width: 461px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 2;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 16;
    grid-row: 1;
  }  
  
  .name-grid {
    grid-column: col-start 5 / span 6;
    margin-top: 0.25rem;
  }
  
  .sun-grid {
    grid-column: col-start 11 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 12 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .grid-one {
    grid-column: col-start 2 / span 13;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 13;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 13;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 13;
    grid-row: 6;
  }

}

/* big mobile */

@media screen and (min-width: 462px) and (max-width: 510px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 16;
    grid-row: 1;
  }  
  .name-grid {
    grid-column: col-start 5 / span 4;
    margin-top: 0.25rem;
  }
  
  .sun-grid {
    grid-column: col-start 10 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 11 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 13;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 13;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 13;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 13;
    grid-row: 6;
  }
}

/* tablet */

@media screen and (min-width: 511px) and (max-width: 652px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 2;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 16;
    grid-row: 1;
  }

  .name-grid {
    grid-column: col-start 3 / span 4;
  }
  
  .sun-grid {
    grid-column: col-start 12 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 13 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .content-items {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  }
}

/* small screen */

@media screen and (min-width: 653px) and (max-width: 859px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(17, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 17;
    grid-row: 1;
  }

  .name-grid {
    grid-column: col-start 2 / span 3;
  }
  
  .sun-grid {
    grid-column: col-start 14 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 15 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 15;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  
  .content-items {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 15;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 15;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 15;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 15;
    grid-row: 6;
  }
}

/* Medium screen */

@media screen and (min-width: 860px) and (max-width: 1023px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(17, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 17;
    grid-row: 1;
  }

  .name-grid {
    grid-column: col-start 2 / span 1;
  }
  
  .sun-grid {
    grid-column: col-start 14 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 15 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 15;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  
  .content-items {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 15;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 15;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 15;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 15;
    grid-row: 6;
  }
}

/* large screen */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  
  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(17, [col-start] 1fr);
    grid-auto-rows: 5rem 4rem 35rem auto;
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 17;
    grid-row: 1;
  }

  .name-grid {
    grid-column: col-start 2 / span 3;
    margin-top: 1rem;
  }
  
  .sun-grid {
    grid-column: col-start 14 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 15 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 15;
    grid-row: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  
  .content-items {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
  }
  
  .grid-one {
    grid-column: col-start 2 / span 7;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 10 / span 10;
    grid-row: 3 / span 3;
  }

  .grid-three {
    grid-column: col-start 2 / span 7;
    grid-row: 4 / span 3;
  }

  .grid-four {
    grid-column: col-start 10 / span 7;
    grid-row: 4;
  }
}

/* Huge Screen */

@media screen and (min-width: 1201px) {

  .main-grid {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(17, [col-start] 1fr);
    grid-auto-rows: 5rem 4rem 54rem auto;
    gap: 0.25rem;
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 17;
    grid-row: 1;
  }

  .name-grid {
    margin-top: 1rem;
    grid-column: col-start 2 / span 3;
  }
  
  .sun-grid {
    grid-column: col-start 14 / span 1;
  }
  
  .moon-grid {
    grid-column: col-start 15 / span 1;
  }
  
  .page-title {
    grid-column: col-start 2 / span 15;
    grid-row: 2;
  }
  
  .content {
    grid-column: col-start 2 / span 15;
    grid-row: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  
  .content-items {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 7;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 10 / span 10;
    grid-row: 3;
  }

  .grid-three {
    grid-column: col-start 2 / span 7;
    grid-row: 4;
  }

  .grid-four {
    grid-column: col-start 10 / span 7;
    grid-row: 4;
  }
}