@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #fff';
  @for $i from 2 through $n {
  $value: '#{$value} , #{random(2000)}px #{random(2000)}px #fff'
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

body.dark-mode .space {
  overflow-y: hidden;
}

body.dark-mode .stars {
  
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 60s linear infinite;
  
  &:after {
      content: " ";
      position: absolute;
      top: 1800px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
  }
}

body.dark-mode .stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 120s linear infinite;
  
  &:after {
      content: " ";
      position: absolute;
      top: 1500px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
  }
}

body.dark-mode .stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 240s linear infinite;
  
  &:after {
      content: " ";
      position: absolute;
      top: 1000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from 	{
      transform: translateY(0px);
  }
  to {		
      transform: translateY(-1000px);
  }
}